<!DOCTYPE html>

<head>
    <title>Something</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <!--<h1 id="title" class="btn">This works!</h1>
        //<script src="/views/index.js"></script>-->
    <div class="js-clock">
        <h1 class="js-title">00:00</h1>
    </div>
    <form class="js-form form">
        <input type="text" placeholder="what is your name" />
    </form>

    <h4 class="js-greetings greetings"></h4>
    <form class="js-toDoForm">
        <input type="text" placeholder="Write a to do" />
    </form>
    <ul class="js-toDoList">
    </ul>
    <spanc class="js-weather"></spanc>
    <script src="/views/clock.js"></script>
    <script src="/views/greeting.js"></script>
    <script src="/views/todo.js"></script>
    <script src="/views/background.js"></script>
    <script src="/views/weather.js"></script>

</body>

</html>